/* Custom CSS for Docusaurus */

/* General styles */
h1 {
    color: #E4E4E4;
    font-family: Helvetica, sans-serif;
    background-color: #000000;
}


body {
    font-family: Helvetica, sans-serif;
    background-color: #000000;
    color: #E4E4E4;
}

/* Header styles */
.navbar {
    background-color: #0e0d17;
    color: #FFFFFF;
    padding: 10px 20px;
}

.navbar__title {
    color: #E4E4E4;
    font-size: 1.1em;
}

.navbar__link {
    color: #ffffff;
    margin: 0 10px;
}

/* Footer styles */
.footer {
    background-color: #060614;
    color: #47484a;
    padding: 20px;
    text-align: center;
}

/* Custom button styles */
.button--primary {
    background-color: #61dafb;
    border: none;
    color: #20232a;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.button--primary:hover {
    background-color: #21a1f1;
}

/* Custom code block styles */
.codeBlock {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
}

.reveal-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden; 
    border: 1px solid #ddd;
  }

.slidev-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 ratio */
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    pointer-events: auto !important;
    touch-action: auto !important;
  }
  
  .slidev-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: auto !important;
    touch-action: auto !important;
  }

  .platform-label img.platform-icon {
    vertical-align: middle;
    margin-right: 0.4em;
    margin-bottom: 0.2em;
    width: 16px;
    height: 16px;
  }
  
  