name: Build Docusaurus Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  pull-docs:
    if: github.event_name == 'push' && github.event.pusher.name != 'github-actions[bot]' && (!startsWith(github.event.head_commit.message, 'Merge pull request') || !contains(github.event.head_commit.message, 'release-please--branches--main'))
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Main Repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Make fetch_docs.sh Executable
        run: chmod +x ${{ github.workspace }}/src/scripts/fetch_docs.sh

      - name: Fetch All Docs
        run: ${{ github.workspace }}/src/scripts/fetch_docs.sh

      - name: Debug
        run: | 
          ls -R ${{ github.workspace }}/docs
          ls

      - name: Upload Docs Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-raw
          path: ${{ github.workspace }}/docs/

  commit-docs:
    if: github.event_name == 'push' && github.event.pusher.name != 'github-actions[bot]' && (!startsWith(github.event.head_commit.message, 'Merge pull request') || !contains(github.event.head_commit.message, 'release-please--branches--main'))
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: pull-docs
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Download Built Docs Artifact
        uses: actions/download-artifact@v4
        with:
          name: docs-raw
          path: ${{ github.workspace }}/docs/dev/

      - name: Check for Changes
        run: |
          git status
          ls -R ${{ github.workspace }}/docs/dev

      - name: Add Changes
        run: git add .

      - name: Commit Changes
        run: |
          git commit -m "Update Docusaurus docs" || echo "No changes to commit"

      - name: Configure Git Remote with Token
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/pvarki/Docusaurus-docs.git

      - name: Pull Latest Changes
        run: git pull --rebase origin main

      - name: Push Changes
        run: git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    if: github.event_name == 'push' && github.event.pusher.name != 'github-actions[bot]' && (!startsWith(github.event.head_commit.message, 'Merge pull request') || !contains(github.event.head_commit.message, 'release-please--branches--main'))
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: pull-docs
    steps:
      - name: Checkout Documentation Repo
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build \
            --build-arg TINA_PUBLIC_CLIENT_ID=${{ secrets.TINA_PUBLIC_CLIENT_ID }} \
            --build-arg TINA_TOKEN=${{ secrets.TINA_TOKEN }} \
            -t pvarki/pvarkidocs:latest -f dockerfile .
            
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Push Docker Image to Docker Hub
        run: docker push pvarki/pvarkidocs:latest

  deploy:
    if: github.event_name == 'push' && github.event.pusher.name != 'github-actions[bot]' && (!startsWith(github.event.head_commit.message, 'Merge pull request') || !contains(github.event.head_commit.message, 'release-please--branches--main'))
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Download Built Docs Artifact
        uses: actions/download-artifact@v4
        with:
          name: docs-raw
          path: ${{ github.workspace }}/build

      - name: Install Dependencies
        run: npm install

      - name: Build Docusaurus Site
        env:
          TINA_PUBLIC_CLIENT_ID: ${{ secrets.TINA_PUBLIC_CLIENT_ID }}
          TINA_TOKEN: ${{ secrets.TINA_TOKEN }}
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ github.workspace }}/build
